@model List<Urun>

@{
    ViewData["Title"] = "Home Page";
}

@* @if(ViewData["Hata"] != null)
{
    <div class="alert alert-danger" role="danger">
        @ViewData["Hata"]
    </div>
} *@
                                                                                                                           


<form method="post" action="/home/satinal">
<ul>
    @foreach(var item in Model)
    {
            <li><label><input required type="radio" name="Ad" value="@item.Ad" />Ürün: @item.Ad - Fiyat: @item.Fiyat TL - Stok: @item.Stok adet</label></li>
    }
</ul>
<p><button>Satın Al</button></p>

</form>